<!--<div class="container mt-3">
 <form action="/register">
     <label for="usr">Name:</label>
     <input type="text" class="form-control" #name>
     <label for="usr">Surname:</label>
     <input type="text" class="form-control" #sname>
     <label for="usr">Username:</label>
     <input type="text" class="form-control" #username>
     <label for="pwd">Password:</label>
     <input type="password" class="form-control" #password>
     <br>
   <button type="submit" (click)="reg(name,sname,username,password)" class="btn btn-primary">Register</button>
 </form>
</div>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main">
	<div class="container">
		<div class="middle">
			<div id="login">

				<form action="javascript:void(0);" method="get">

					<fieldset class="clearfix">

            <p><span class="fa fa-user-plus"></span><input type="text" Placeholder="Name" required #name></p>
            <p><span class="fa fa-user-plus"></span><input type="text" Placeholder="Surname" required #sname></p>
            <p><span class="fa fa-user"></span><input type="text" Placeholder="Username" required #username></p>
						<!-- JS because of IE support; better: placeholder="Username" -->
						<p><span class="fa fa-lock"></span><input type="password" Placeholder="Password" required #password></p>
						<!-- JS because of IE support; better: placeholder="Password" -->

						<div>
							<span style="width:48%; text-align:left;  display: inline-block;"></span>
							<span style="width:50%; text-align:right;  display: inline-block;"><button type="submit" (click)="reg(name,sname,username,password)" class="btn btn-primary">Register</button></span>
						</div>

					</fieldset>
					<div class="clearfix"></div>
				</form>

				<div class="clearfix"></div>

			</div>
			<!-- end login -->
			<span style="width:10%;"></span>
      <div class="logo"><img src="assets/image/kickscooterlogo.png" alt="MyKickscooter" width="270">

            <p>{{ error }}</p>

				<div class="clearfix"></div>
			</div>

		</div>
	</div>
</div>
